<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11501178-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
      dataLayer.push(arguments);
  }

  function trackOutboundLink(url) {
    gtag('event', 'click', {
         'event_category': 'outbound',
         'event_label': url,
         'transport_type': 'beacon',
         'event_callback': function () {
           document.location = url;
         }
    });
    console.debug("Outbound link clicked: " + url);
  }

  function onClickCallback(event) {
    if ((event.target.tagName !== 'A') || (event.target.host === window.location.host)) {
      return;
    }
    trackOutboundLink(event.target);  // Send GA event.
  }

  gtag('js', new Date());
  gtag('config', 'UA-11501178-2');

  // Outbound link tracking.
  document.addEventListener('click', onClickCallback, false);
</script>
